@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.item {
  display: flex;

  .title {
    z-index: 1;
    height: 100%;
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    row-gap: 40px;
    padding: 0 0 20px 0;
    cursor: pointer;
    border-bottom: 2px solid $red100;
    background-position: center;
    .name {
      @include text(500, 28px, 100%, $light100);
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }

    .number {
      @include text(500, 40px, 100%, $light100)
    }
  }

  .pickedTitle {
    background-color: $blue300;
  }

  .content {
    margin-left: 1px;
    border-bottom: 2px solid $red100;
    width: 0;
    transition: .7s;
    overflow: hidden;

    .infoBlock {
      display: flex;
      align-items: end;
      background: rgba(18, 18, 18, 0.8);
      max-width: 364px;
      height: 100%;
      backdrop-filter: blur(20px);
      position: relative;
      padding: 41px;

      > span {
        position: absolute;
        @include text(600, 380px, 100%);
        color: rgba(255, 255, 255, 0.04);
        letter-spacing: -0.03em;
        top: 0;
        left: -130px;
      }

      .info {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        > h4 {
          @include text(400, 24px, 120%, $light100)
        }

        > span {
          @include text(200, 16px, 150%, $light100)
        }

        > a {
          margin-top: 10px;
          @include text(300, 14px, 120%, $light100);
          letter-spacing: 0.03em;
          padding: 20px 56px;
          border: 2px solid $light100;
          border-left: 7px solid $light100;
          width: 256px;
          background: right bottom linear-gradient(to right, $light100 50%, transparent 50%);
          background-size: 200% 100%;
          transition: all .3s ease-out;
          &:hover {
            background-position: left bottom;
            color: $dark100;
          }
        }
      }

    }
  }

  .showContent {
    width: 995px;
    transition: .7s;
  }
}