@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.container {
  display: flex;

  @media screen and (max-width: 1440px) {
    flex-direction: column-reverse;
  }

  .title {
    z-index: 1;
    height: 100%;
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    row-gap: 40px;
    padding: 0 0 20px 0;
    cursor: pointer;
    border-bottom: 2px solid $red100;
    background-position: center;

    @media screen and (max-width: 1440px) {
      flex-direction: row-reverse;
      justify-content: start;
      column-gap: 32px;
      padding: 0 0 0 40px;
      width: 688px;
      height: 85px;
    }

    @media screen and (max-width: 768px) {
      width: calc(320px + (688 - 320) * ((100vw - 360px) / (768 - 360)));
    }
    @media screen and (max-width: 360px) {
      width: 320px;
    }

    .name {
      @include text(500, 28px, 100%, $light100);
      writing-mode: vertical-rl;
      transform: rotate(180deg);

      @media screen and (max-width: 1920px) {
        font-size: calc(24px + (28 - 24) * ((100vw - 768px) / (1920 - 768)));
      }
      @media screen and (max-width: 768px) {
        font-size: 24px;

      }
      @media screen and (max-width: 768px) {
        font-size: calc(18px + (24 - 18) * ((100vw - 360px) / (768 - 360)));
      }
      @media screen and (max-width: 360px) {
        font-size: 18px;
      }
      @media screen and (max-width: 1440px) {

        writing-mode: initial;
        transform: initial;
      }


    }

    .number {
      @include text(500, 40px, 100%, $light100);

      @media screen and (max-width: 1920px) {
        font-size: calc(32px + (40 - 32) * ((100vw - 768px) / (1920 - 768)));
      }
      @media screen and (max-width: 768px) {
        font-size: 32px;
      }
      @media screen and (max-width: 768px) {
        font-size: calc(24px + (32 - 24) * ((100vw - 360px) / (768 - 360)));
      }
      @media screen and (max-width: 360px) {
        font-size: 24px;
      }
    }
  }

  .pickedTitle {
    background-color: $blue300;
  }

  .content {
    margin-left: 1px;
    border-bottom: 2px solid $red100;
    width: 0;
    transition: .7s;
    overflow: hidden;

    @media screen and (max-width: 1440px) {
      border-bottom: none;
      margin: 0 0 4px 0;
      display: flex;
      align-items: end;
      height: 0;
      min-width: 688px;
      background-size: 100%;
    }
    @media screen and (max-width: 768px) {
      min-width: calc(320px + (688 - 320) * ((100vw - 360px) / (768 - 360)));
    }
    @media screen and (max-width: 360px) {
      min-width: 320px;
    }

    .infoBlock {
      display: flex;
      align-items: end;
      background: rgba(18, 18, 18, 0.8);
      max-width: 364px;
      height: 100%;
      backdrop-filter: blur(20px);
      position: relative;
      padding: 41px;

      @media screen and (max-width: 1920px) {
        max-width: calc(300px + (364 - 300) * ((100vw - 1440px) / (1920 - 1440)));
      }
      @media screen and (max-width: 1440px) {
        min-width: 688px;
        height: 192px;
      }
      @media screen and (max-width: 768px) {
        height: calc(158px + (192 - 158) * ((100vw - 360px) / (768 - 360)));
        padding: calc(22px + (41 - 22) * ((100vw - 360px) / (768 - 360)));
      }
      @media screen and (max-width: 360px) {
        height: 158px;
        padding: 22px;
      }

      > span {
        position: absolute;
        @include text(600, 380px, 100%);
        color: rgba(255, 255, 255, 0.04);
        letter-spacing: -0.03em;
        top: 0;
        left: -130px;

        @media screen and (max-width: 1440px) {
          font-size: 152px;
          right: -10px;
          left: auto;
        }
        @media screen and (max-width: 768px) {
          font-size: calc(80px + (152 - 80) * ((100vw - 360px) / (768 - 360)));
        }
        @media screen and (max-width: 360px) {
          font-size: 80px;
        }

      }

      .info {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        > h4 {
          @include text(400, 24px, 120%, $light100);

          @media screen and (max-width: 1920px) {
            font-size: calc(18px + (24 - 18) * ((100vw - 768px) / (1920 - 768)));
          }
          @media screen and (max-width: 768px) {
            font-size: 18px;
          }
          @media screen and (max-width: 768px) {
            font-size: calc(16px + (18 - 16) * ((100vw - 360px) / (768 - 360)));
          }
          @media screen and (max-width: 360px) {
            font-size: 16px;
          }
        }

        > span {
          @include text(200, 16px, 150%, $light100);

          @media screen and (max-width: 1920px) {
            font-size: calc(14px + (16 - 14) * ((100vw - 768px) / (1920 - 768)));
          }
          @media screen and (max-width: 768px) {
            font-size: 14px;
          }
          @media screen and (max-width: 768px) {
            font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (768 - 360)));
          }
          @media screen and (max-width: 360px) {
            font-size: 12px;
          }
        }

        > a {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include text(300, 16px, 120%, $light100);
          letter-spacing: 0.03em;
          border: 2px solid $light100;
          border-left: 7px solid $light100;
          width: 256px;
          height: 62px;
          background: right bottom linear-gradient(to right, $light100 50%, transparent 50%);
          background-size: 200% 100%;
          transition: all .3s ease-out;

          @media screen and (max-width: 1920px) {
            width: calc(169px + (256 - 169) * ((100vw - 768px) / (1920 - 768)));
            height: calc(44px + (62 - 44) * ((100vw - 768px) / (1920 - 768)));
            font-size: calc(14px + (16 - 14) * ((100vw - 768px) / (1920 - 768)));
          }
          @media screen and (max-width: 768px) {
            width: 169px;
            height: 44px;
            font-size: 12px;
          }

          &:hover {
            background-position: left bottom;
            color: $dark100;
          }
        }
      }

    }
  }

  .showContent {
    width: 998px;
    transition: .7s;

    @media screen and (max-width: 1920px) {
      width: calc(598px + (998 - 598) * ((100vw - 1440px) / (1920 - 1440)));
    }
    @media screen and (max-width: 1440px) {
      height: 460px;
    }
    @media screen and (max-width: 768px) {
      height: calc(376px + (460 - 376) * ((100vw - 360px) / (768 - 360)));
    }
    @media screen and (max-width: 360px) {
      height: 376px;
    }
  }
}