@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 192px;
  background-color: $blue300;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 111px;
  left: 0;
  @media screen and (max-width: 1200px) {
    justify-content: space-around;
    flex-direction: column;
    padding: 35px 0;
  }

  @media screen and (max-height: 720px) {
    height: 150px;
  }


  .button {
    position: absolute;
    right: 111px;
    display: flex;
    padding: 0;
    background-color: transparent;
    border: none;
    column-gap: 10px;
    cursor: pointer;
    @include text(400, 20px, 150%, $light100);

    @media screen and (max-width: 1200px) {
      position: relative;
      right: 0;
    }
    @media screen and (max-width: 1920px) {
      font-size: calc(16px + (20 - 16) * ((100vw - 768px) / (1920 - 768)));
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 79%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $light100;
      transform-origin: center;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: center;
    }

    .arrow {
      transition: .5s ease-out;
    }

    &:hover {
      .arrow {
        transform: rotate(180deg);
        transition: .5s ease-out;
      }
    }

  }
}