@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.container {
  display: flex;
    .number {
      display: flex;
      > span {
        @include text(600, 72px, 100%, $blue300);
        &:nth-child(1) {
          margin: 0 24px;
        }
      }
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 54px;
      background: url("../../../../../../common/images/figure.png") no-repeat;
      @include text(400, 16px, 100%, $light100);
      width: 132px;
    }
  }
