@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.button {
  height: 60px;
  background-color: $blue100;
  border: 0;
  border-radius: 40px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 28px;
  cursor: pointer;
  @include text(400, 18px, 150%, $light100);

  &:hover {
    background-color: $blue300;
    transition: .3s;
  }
}