@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.container {
  width: 320px;
  height: 370px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 24px;

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  > h3 {
    @include text(700, 36px, 104%, $blue300)
  }

  > span {
    @include text(400, 16px, 150%);
    text-align: center;
  }
}