@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.inputWrapper {
  position: relative;
  width: 440px;
  .input {
    height: 59px;
    width: 440px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    padding: 16px 55px 16px 20px;
    outline: none;
    @include text(400, 18px, 150%);
    &::placeholder {
      @include text(400, 18px, 150%, rgba(0, 0, 0, 0.6));

      @media screen and (max-width: 1920px) {
        font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1920 - 360)));

      }
      @media screen and (max-width: 360px) {
        font-size: 14px;
      }
    }
    @media screen and (max-width: 1920px) {
      width: calc(280px + (440 - 280) * ((100vw - 360px) / (1920 - 360)));
      height: calc(41px + (59 - 41) * ((100vw - 360px) / (1920 - 360)));
      font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1920 - 360)));
    }
    @media screen and (max-width: 360px) {
      width: 280px;
      height: 41px;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 1920px) {
    width: calc(280px + (440 - 280) * ((100vw - 360px) / (1920 - 360)));

  }
  @media screen and (max-width: 360px) {
    width: 280px;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: none;
    background-color: $red100;
    cursor: pointer;

    @media screen and (max-width: 1920px) {
      width: calc(33px + (43 - 33) * ((100vw - 360px) / (1920 - 360)));
      height: calc(33px + (43 - 33) * ((100vw - 360px) / (1920 - 360)));
      top: calc(4px + (8 - 4) * ((100vw - 360px) / (1920 - 360)));
      right: calc(5px + (8 - 5) * ((100vw - 360px) / (1920 - 360)));
    }
    @media screen and (max-width: 360px) {
      width: 33px;
      height: 33px;
      top: 4px;
      right: 6px;

    }

    &:hover {
      background-color: $red300;
      transition: .3s;
    }
  }
  .error {
    @include text(500, 18px, 100%, $red100);
    align-self: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 110%;

    @media screen and (max-width: 1920px) {
      font-size: calc(16px + (18 - 16) * ((100vw - 360px) / (1920 - 360)));

    }
    @media screen and (max-width: 360px) {
      font-size: 16px;
    }

  }
}