@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.container {
  height: 682px;
  display: flex;
  column-gap: 4px;
  margin-top: 40px;

  @media screen and (max-width: 1440px) {
    height: auto;
    flex-direction: column;
  }

}